html {

  background-size: cover;

  body {
    background: image_url("stripe1.png");
    font-family: "Inconsolata", courier, monospace;
  }

  h1, h2, h3, h4, h5, h6 {
    color: white;
    border-bottom: 2px solid rgba(255,255,255,0.4);
  }
}

.footer {
  margin-top: 30px;
  text-align: center;
  background: rgba(255,255,255,0.5);
  padding: 10px;
}