// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-container {
  padding-top: 10px;
  background: rgba(255,255,255,.8);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

  .button.large {
    background: rgba(0,255,255,0.5);
    border: none;
    border-bottom: rgba(0,100,100,0.5) solid 5px;
    box-shadow: none;
    -webkit-box-shadow: none;
    &:hover {
      background: rgba(0,200,200,0.5);
    };
  }
}

.home-header.row {
  margin-bottom: 30px;
  background: rgba(0,255,255,0.6);
}

.masthead {
  h1, h2 {
    background: rgba(0,0,0,0.5);
    border-bottom: 5px dashed;
    padding-left: 20px;
    position: relative;
  }

  h2 {
    color: white;
  }

  .masthead-headers {
    position: relative;

    a {
      margin-top: .5em;
      font-family: "Sanchez", "consolas", monospace;
      font-size: 40px;
      padding: 20px;
      border-bottom: 5px dashed;
      margin-right: 10px;
      display: inline-block;
      position: relative;
    }
  }
}

.my-stats {
  ul {
    list-style: none;
  }
}

.my-links {
  ul {
    list-style: none;
  }
}

.contact {
  box-shadow: 0px -2px 4px rgba(0,0,0,0.02);
  padding: 13px 0 0 0;
  background: rgba(255,255,255,0.1);

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"], textarea {
    background: white;
    border: none;
    border-bottom: 5px solid rgba(0,0,0,0.3);
    height: 2em;
    font-size: 1.5em;
    color: rgba(0,0,0,0.6);
    font-family: "Sanchez";
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    &:focus, &:active {
      background: rgba(0,0,0,0.6);
      color: white;
    }
  }
}

p {
  &:hover {
    background: rgba(255,255,255,0.3);
  }
}

table {
  font-size: 1.3em;
}

.table-subject {
  vertical-align: text-top;
}