<div class="header">
  <span class="header-left">Sean Woojin Kim | Web Developer/Designer
    <br>seanwoojinkim@gmail.com
    <br>949 521 2011

  </span>
  <span class="header-right">
    <a href="#" class="resume-link">Resume</a>
    <a href="#" class="about-link">About</a>
    <a href="#">Projects</a>
    <a href="#" class="hire-me">Hire</a>
    <a href="#" class="back-to-top">&#9650</a>
  </span>
</div>