<div class="masthead">
  <div class="row masthead-container">
    <div class="large-12 large-2 columns masthead-headers">
      <h1 class="top-header">Sean Woojin Kim</h1>
      <h2 class="second-header subheader">Web Developer / Designer</h2>
      <a href="#about" class="about-link">ABOUT</a>
      <a href="#portfolio" class="projects-link">PROJECTS</a>
      <a href="#resume" class="resume-link">RESUME</a>
      <a href="#hire" class="hire-me">HIRE</a>
    </div>
  </div>
</div>