<div class="masthead">
  <div class="row masthead-container">
    <div class="large-12 large-2 columns masthead-headers">
      <h1 class="top-header">></h1>
      <h2 class="second-header subheader">Web Developer / Designer</h2>
      <a href="#" class="resume-link">RESUME</a>
      <a href="#" class="about-link">ABOUT</a>
      <a href="#" class="hire-me">HIRE</a>
      <a href="#">PROJECTS</a>
    </div>
  </div>
</div>