<div class="small-12 large-4 columns my-stats">
  <h4>This is what I know:</h4>
  <ul>
    <li>Ruby</li>
    <li>Ruby on Rails</li>
    <li>SQL</li>
    <li>HTML/CSS</li>
    <li>SCSS</li>
    <li>Javascript</li>
    <li>jQuery</li>
    <li>Frontend Design</li>
    <li><i>Slick</i> UI</li>
    <li>Foundation/Bootstrap Frameworks</li>
  </ul>

  <div class="my-links">
    <h4>These are my links:</h4>
    <ul>
      <li><%= link_to "portfolio", "#" %></li>
      <li><%= link_to "linkedin", "http://www.linkedin.com/in/seanwkim" %></li>
      <li><%= link_to "github", "http://www.github.com/seanwooj" %></li>
    </ul>
  </div>
</div>