<div class="large-12 small-12 column portfolio">
  <h3>Projects</h3>
  <div class="row portfolio-item">
    <div class="details large-5 small-5 columns">
      <h5>Holofy Landing Page</h5>
      <p class="description">I built this landing page for Holofy, a startup working on augmented reality technologies.</p>
      <ul>
        <li>Tech used:</li>
        <li>HTML/CSS</li>
        <li>Javascript</li>
        <li>jQuery</li>
      </ul>
    </div>
    <div class="large-7 small-7 columns portfolio-image">
      <%= image_tag("holofy.jpg") %>
    </div>
  </div>

  <div class="row portfolio-item">
    <div class="details large-5 small-5 columns">
      <h5>Magnet Poetry Web App</h5>
      <p class="description">I built this landing page for Holofy, a startup working on augmented reality technologies.</p>
    </div>
    <div class="large-7 small-7 columns portfolio-image">
      <%= image_tag("magnet-poetry.jpg") %>
    </div>
  </div>

  <div class="row portfolio-item">
    <div class="details large-5 small-5 columns">
      <h5>Holofy Landing Page</h5>
      <p class="description">I built this landing page for Holofy, a startup working on augmented reality technologies.</p>
    </div>
    <div class="large-7 small-7 columns portfolio-image">
      <%= image_tag("holofy.jpg") %>
    </div>
  </div>
</div>

<script>
  $('.portfolio-item').click(function(){
    $(this).toggleClass('active', 2000);
  });
</script>